.morphist > *:not(.animated) {
    display: none;
}
.js-rotating {
  display: table-cell;
  vertical-align: middle;
}
ul.js-rotating {
  margin: 0;
  padding: 0;
}
.js-rotating p {
  font-size: 1.1rem;
}
.home-slider-classic.homepage .header {
  background: linear-gradient(45deg, rgba(127,156,33,1) 0%, rgba(225,243,160,1) 100%);
  width: 100%;
  min-height: 100vh;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}
.home-slider-classic .slider {
  position: relative;
  display: block;
  width: 100%;
	z-index: 2;
  color: #fff;
  height: 100vh;
}
.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.slider-section {
  flex: 50%;
}
.morphist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.slider li {
	list-style: none;
}
.slider-text h1,
.slider-text h2,
.slider-text h3,
.slider-text h4 {
  color: #ffffff;
  margin: 0;
  line-height: 1.4;
}
.slider-text p {
  font-size: 1.1rem;
  margin: 3rem 0 1rem 0;
}
@media only screen and (min-width: 768px) {
  .slider-text h1 {
    font-size: 2.8rem;
  }
  .slider-text h2 {
    font-size: 2.6rem;
  }
  .slider-text h3 {
    font-size: 2.4rem;
  }
}