<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">		body {
					  font-family: 'Montserrat', sans-serif;
					  font-size: 14px;
					}
					table {border-collapse: collapse;}
					table, th, td {
					  border: 1px solid black;
					  padding: 5px;
					  }
					thead {
				  	background-color: #dde4d3;
				  	text-align: left;
					}
					tbody tr:nth-child(even) {background: #f4fce6}
	</style>
</head>
<body>
<p>
	Chers SÉListes,<br>
	<br>
	Le Catalogue de Services a été enrichi...<br>
	Vous trouverez ci-après les offres et demandes récemment ajoutées.<br>
	{{ body|raw }} <br>
	Comme d'habitude, vous trouverez l'intégralité du Catalogue <a href="{{ url('user.login', {'destination': '/sel/services'}) }}">{{ 'ici'|t }}</a>.<br>
	--<br>
	Le Grenier à SÉL
</p>
</body>
</html>
