<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">		body {
					  font-family: 'Montserrat', sans-serif;
					  font-size: 14px;
					}
	</style>
</head>
<body>
<div>
	<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
			<div style="padding: 0px 0px 0px 0px;">
				<p>
					Chers S&Eacute;Listes,<br><br>
					{{ body|raw }}
  				Vous pouvez la consulter <a href="{{ url('view.sel_services.page_1') }}">{{ 'ici'|t }}</a>.<br>
					Si vous ne la trouvez pas, c'est peut-être qu'elle a d&eacute;j&agrave; &eacute;t&eacute; satisfaite.<br>
					Pour contacter le S&Eacute;Liste qui a post&eacute; le service, ne pas r&eacute;pondre à ce courriel, mais cliquer sur son nom dans le Catalogue.<br>
					--<br>
					Le Grenier à S&Eacute;L
				</p>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
