<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">		body {
					  font-family: 'Montserrat', sans-serif;
					  font-size: 14px;
					}
	</style>
</head>
<body>
<div>
	<table width="800px" cellpadding="0" cellspacing="0">
		<tr>
			<td>
			<div style="padding: 0px 0px 0px 0px;">
				<p>
				  {{ body|raw }}
					<br>
					Au moins un de vos services vient d'être désactivé pour cause de date de validité dépassée.<br>
					Vous pouvez le supprimer définitivement ou le réactiver s'il est toujours d'actualité en allant <a href="{{ url('view.sel_services.page_2') }}">{{ 'ici'|t }}</a>.<br>
					--<br>
					Le Grenier à S&Eacute;L <br>
					<br>
					P.S. Ce courriel a été envoyé automatiquement. Merci de ne pas y répondre.
				</p>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
