<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <style type="text/css">		body {
		           font-family: 'Montserrat', sans-serif;
		           font-size: 14px;
		       }
	</style>
</head>
<body>
<div>
	<table width="800px" cellpadding="0" cellspacing="0">
		<tr>
			<td>
			<div style="padding: 0px 0px 0px 0px;">
				<p>
					Chers adh&eacute;rents du <strong>Jardin de Poissy</strong>,<br> <br> La p&eacute;riode de renouvellement des adh&eacute;sions pour {{ body|raw }} est ouverte !<br> <br> Pour nous signaler votre décision :
					<ul>
						<li>vous suivez ce <a href="{{ url('user.login', {'destination': '/association/membership'}) }}">{{ 'lien'|t }}</a> pour accéder au formulaire en ligne,</li>
						<li>vous indiquez votre choix (Non, Oui),</li>
						<li>vous soumettez.</li>
					</ul>
					Si vous ne souhaitez pas renouveler, suivre la procédure est le meilleur moyen de ne plus être ennuyé par les relances 😇<br> <br> Merci d'avance,<br> <strong>Le Jardin de Poissy</strong>
				</p>
			</div>
			</td>
		</tr>
	</table>
</div>
</body>
</html>
