/*
table.sticky-enabled {
    text-align: left;
}

table.sticky-header {
    text-align: left;
}

tr:nth-child(even) {
    BACKGROUND-COLOR: #F4FCE6;
}

tr:nth-child(odd) {
    BACKGROUND-COLOR: #FFFFFF;
}

tr.distrib- {
    display: none;
}
 */

tr.distrib0 td {
    BACKGROUND-COLOR: #FF0000 !important;
}
