/**
 * Variables
 */
:root {
  --color-primary: #d1392b;
  --color-secondary: #ffa800;
  --theme-color: #d1392b;
  --bg-body: #fcfbf8;
  --sidebar-bg: #ffffff;
  --text-color: #404040;
  --bold-color: #191919;
  --light: #f5f2ed;
  --dark: #4e100b;
  --border-color: #d6d6d6;
  --shadow: 0 0 1rem #dddddd;
  --font-text: "heebo", sans-serif;
  --font-heading: "poppins", sans-serif;
}
/* Default Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* HTML and Body
----------------------- */
html:focus-within {  
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--bg-body);
  color: var(--text-color);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%; /* Fix Mobile Safari Font Scale */
  -ms-text-size-adjust: 100%; /* Fix IE Font Scale */
}

/*
 * Fields and regions.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: list-item;
  cursor: pointer;
  color: var(--bold-color);
}
template,
[hidden] {
  display: none;
}

/**
 * Typography
 */

/* Typography -> Headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-color);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  margin: 0 0 10px 0;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5, h6 {
  font-size: 1.2rem;
}

/* Typography -> Paragraph */
p {
  margin: 0 0 1rem 0;
}

/* Typography -> Links. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  color: var(--color-primary);
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
a:active,
li a.active {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-secondary);
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* Typography -> code tags */
code,
kbd,
pre,
samp {
  background-color: var(--light);
  font-family: monospace, monospace;
  font-size: 1rem;
  padding: 2px 8px;
  margin: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1rem;
  margin: 1rem 0;
  overflow: auto;
}
/* Typography -> Font styles */
b,
strong {
  font-weight: bolder;
  color: var(--bold-color);
}
dfn,
cite {
  font-style: italic;
}
del {
  text-decoration: line-through;
}
small {
  font-size: 80%;
}
big {
  font-size: 125%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}
mark {
  background: var(--color-primary);
  color: #ffffff;
  text-shadow: none;
}

/* Typography -> Address */
address {
  margin: 0 0 1rem 0;
  font-style: italic;
}

/* Typography -> Abbreviation */
acronym[title], abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
abbr,
acronym {
  cursor: help;
}

/* Typography -> Blockquote */
blockquote {
  position: relative;
  background: #ffffff url('../images/icons/quote.svg') 10px 10px no-repeat;
  margin: 0.5rem 0;
  padding: 1rem;
  box-shadow: var(--shadow);
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Media
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img,
picture,
svg {
  max-width: 100%;
  display: inline-block;
}
img,
a img {
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  max-width: 100%;
  height: auto;
  margin: 1Rem 0;
  border: 0;
}
.align-left {
  margin: 1rem 1rem 1rem 0;
}
.align-right {
  margin: 1rem 0 1rem 1rem;
}
.align-center {
  margin: 1rem auto;
}
figcaption {
  padding: 4px;
  font-size: 0.8rem;
  background: #ffffff;
  border: 1px solid var(--border-color);
  text-align: center;
}
.image-field {
  margin: 0 0 1rem 0;
}

/**
 * Form.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  -webkit-appearance: button;
  padding: 9px 10px;
  background-color: var(--color-primary);
  color: #ffffff;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: var(--bold-color);
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
input {
  line-height: normal;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 10px;
  background: #ffffff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-transition: border 0.5s linear;
  -moz-transition: border 0.5s linear;
  transition: border 0.5s linear;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid var(--color-primary);
  outline: 0;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: auto;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  transition: border 0.3s linear;
  vertical-align: top;
}
fieldset {
  margin: 0 0 10px 0;
  padding: 0.35rem 0.5rem 0.5rem 0;
  border: 1px solid var(--border-color);
}
fieldset > :last-child {
  margin-bottom: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
optgroup {
  font-weight: bold;
}
select {
  padding: 4px 0;
}
form label {
  font-weight: bold;
}
label[for] {
  cursor: pointer;
}
.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="search"] {
  padding: 10px 6px;
  outline: 0;
}
.page-content input {
  max-width: 100%;
}
/* Form -> Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}
.form-required:after {
  content: "*";
  display: inline-block;
  padding-left: 4px;
  color: var(--color-primary);
}
progress {
  vertical-align: baseline;
}
::-webkit-input-placeholder {
  color: #8a8a8a;
}
:-moz-placeholder {
  color: #8a8a8a;
}
::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #8a8a8a;
}
/* Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}
.form-item label {
  display: block;
}
label.option {
  display: inline;
  font-weight: normal;
}
/**
 * List.
 */
 ul,
 ol {
   margin: 0;
   padding: 0 0 0.25rem 1rem; /* LTR */
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1rem 0.25rem 0;
 }
 ol ol,
 ul ul {
   margin: 0;
   padding: 0 0 0.25rem 1rem; /* LTR */
 }
 [dir="rtl"] ol ol,
 [dir="rtl"] ul ul {
   padding: 0 1rem 0.25rem 0;
 }
 ul {
   list-style: disc;
 }
 ol {
  list-style: decimal;
}
 li > ul,
 li > ol {
   margin-bottom: 0;
 }
 [dir="rtl"] ul,
 [dir="rtl"] ol {
   padding: 0 1rem 0.25rem 0;
 }
 li {
   padding: 4px 0;
 }
 .node-content li {
   padding: 6px 0;
 }

/* Typography -> Definition Lists */
dt {
  font-weight: 700;
}

/**
 * Table.
 */
table {
  width: 100%;
  margin-bottom: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
}
th,
tr,
td {
  vertical-align: middle;
}
th {
  background-color: var(--color-primary);
  color: #ffffff;
  color: var(--color-secondary);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 10px;  
  border: 2px solid var(--color-secondary);
  text-align: left;
  text-shadow: none;
}
th a {
  color: #ffffff;
}
td {
  padding: 5px 10px;
  border: 2px solid var(--border-color);
}

/**
 * HTML other elements
 */
hr {
  clear: both;
  width: 100%;
  height: 2px;
  border: 0;
  border-top: 1px solid var(--border-color);
  box-sizing: content-box;
  overflow: visible;
}
/**
 * Misc.
 */
::selection {
  background: var(--color-primary);
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: var(--color-primary);
  color: #ffffff;
  text-shadow: none;
}