/* Fix for Media Gallery module */
.photoswipe-gallery.field-items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.photoswipe-gallery .field-item {
  flex: 0 0 300px;
} 
.photoswipe-gallery .field-item .image-field {
  margin: 0;
}
 
/* Clearing -> home */
.home-content .block::before,
.home-content .block::after {
  content: '';
  display: table;
  clear: both;
}
 
/* Clearing -> Node contents */
.node-taxonomy-container::before,
.node-taxonomy-container::after,
.node-links-container::before,
.node-links-container::after,
nav.pager::before,
nav.pager::after {
  content: "";
  display: table;
  clear: both;
}
/* EU Cookie Compliance module */
div#sliding-popup, div#sliding-popup .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
  background-color: #ffffff;
  box-shadow: 0 0 4px 1px var(--color-secondary);
  left: 0;
}
#sliding-popup {
  padding: 2rem;
  max-width: 600px;
}
#sliding-popup .popup-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.eu-cookie-compliance-content {
  max-width: 100%;
}
.eu-cookie-compliance-message {
  float: none;
  margin: 0;
  max-width: 100%;
}
#sliding-popup div,
#sliding-popup h2 {
  color: var(--bold-color);
}
#sliding-popup h2 {
  font-size: 1.3rem;
}
#sliding-popup p {
  display: block;
  color: var(--text-color);
  font-size: 0.9rem;
}
.eu-cookie-compliance-message button {
  background-color: transparent;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}
.eu-cookie-compliance-message button:hover {
  background-color: transparent;
  color: var(--bold-color);
}
.eu-cookie-compliance-buttons {
  display: flex;
  gap: 1rem;
  float: none;
  margin: 0;
  max-width: 100%;
}
.eu-cookie-compliance-buttons .button {
  background-color: transparent;
	background-image: none;
  color: var(--color-primary);
  font-weight: 400;
  margin: 0;
  padding: 8px 1rem;
  border: 2px solid var(--color-secondary);
  text-shadow: none;
  box-shadow: none;
}
.eu-cookie-compliance-buttons .button:hover {
  background-color: var(--color-secondary);
}