/**
 * Fonts.
 */

/* Fonts -> Heebo */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local('Heebo'), local('Heebo-Regular'),
       url('../fonts/heebo.woff2') format('woff2'),
       url('../fonts/heebo.woff') format('woff');
}

/* Fonts -> Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('../fonts/poppins.woff2') format('woff2'),
  url('../fonts/poppins.woff') format('woff');

}

/* Font icons used in theme */
@font-face {
  font-family: 'milicon';
  src:  url('../fonts/milicon.eot?y9we43');
  src:  url('../fonts/milicon.eot?y9we43#iefix') format('embedded-opentype'),
    url('../fonts/milicon.ttf?y9we43') format('truetype'),
    url('../fonts/milicon.woff?y9we43') format('woff'),
    url('../fonts/milicon.svg?y9we43#milicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'milicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 14px;
  font-size: inherit;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-print:before {
  content: "\f02f";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-vimeo:before {
  content: "\e90a";
}