/*
* Header
*/

/* header -> header layout */
.header {
  position: relative;
  background: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
}
.header-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

/* header -> homepage header when slider is disabled and inner pages header */
.homepage .header,
.site-page .header {
  background-color: var(--color-primary);
}

/* header -> homepage header when slider is enabled */
.frontpage.homepage .header {
  background: linear-gradient(45deg, rgba(209,57,43,1) 0%, rgba(209,84,43,1) 50%, rgba(209,57,43,1) 100%);
  width: 100%;
  height: 100vh;
  padding: 0;
}

/* header -> sticky header */
.frontpage.homepage .header-main {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.frontpage.homepage .header-main.sticky-header,
.homepage .header-main.sticky-header,
.site-page .header-main.sticky-header {
  position: fixed;
  background-color: #232323;
}
.homepage .header-main.sticky-header,
.site-page .header-main.sticky-header {
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
.sticky-header-height {
  padding-top: 0;
  background: transparent;
  z-index: 5;
}
/* Header -> site branding. */
.site-brand,
.header-right {
  position: relative;
  z-index: 13;
}
.site-branding {
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  line-height: 1;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.site-branding img {
  width: auto;
  max-height: 80px;
}
.site-branding  a {
  color: #ffffff;
}
.site-name {
  font-size: 1.6rem;
}
.site-slogan {
  font-family: 'Heebo', sans-serif;
  font-size: 0.9rem;
}

/* Header -> header right */
.header-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.search-icon,
.sliding-panel-icon {
  margin: 0 0 0 10px;
}
.search-icon i,
.sliding-panel-icon i {
  padding: 12px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
/* Header -> header right -> main menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 6px;
}
.mobile-menu span {
  width: 100%;
  height: 3px;
  background-color:#ffffff;
  transform-origin: right;
  transition: all 0.6s ease;
}
.mobile-menu span:nth-child(2) {
  background-color: var(--color-secondary);
}
.menu-icon-active span:first-child {
  transform: rotate(-45deg);
}
.menu-icon-active span:last-child {
  transform: rotate(45deg);
}
.menu-icon-active span:nth-child(2) {
  display: none;
}
.close-mobile-menu {
  position: absolute;
  top: 2px;
  right: 2px;
  display: grid;
  place-content: center;
  color: #ffffff;
  width: 34px;
  height: 34px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  z-index: 33;
  cursor: pointer;
}
.primary-menu-wrapper {
  font-family: var(--font-heading);
  font-weight: 400;
}
.menu-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  max-width: 320px;
  height: 100%;
  z-index: 10;
  transform: translateX(-100%);
  transition: all 0.4s ease;
  padding-top: 30px;
}
.active-menu .menu-wrap {
  background: rgba(0, 0, 0, 0.9);
  transform: translateX(0);
  overflow-y: auto;
  overflow-x: hidden;
}
.active-menu .menu-wrap .main-menu,
.active-menu .menu-wrap .menu {
  overflow-y: scroll;
  overflow-x: hidden;
}
.region-primary-menu .menu,
.region-primary-menu .submenu {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.region-primary-menu .menu {
  display: flex;
  color: #ffffff;
  font-family: var(--font-heading);
  font-size: 1rem;
  font-weight: 400;
  flex-direction: column;
  gap: 0;
  padding: 0.5rem;
  z-index: 10;
}
.region-primary-menu .menu-item-level-1 {
  position: relative;
  padding: 0;
  border-bottom: 1px solid var(--text-color);
}
.region-primary-menu .menu a {
  display: block;
  color: #ffffff;
  padding: 0.5rem 0;
}
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children::after {
  position: absolute;
  content: '+';
  right: 0;
  top: 0.5rem;
  color: var(--color-primary);
}
.region-primary-menu .submenu {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding: 0 0  0 2rem;
}
.region-primary-menu .submenu li {
  border-top: 1px solid var(--text-color);
}
/* Header -> full page search box */
.full-page-search {
  position: relative;
}
.search-icon {
  position: relative;
  color: #ffffff;
  line-height: 1;
  cursor: pointer;
}
.search-icon i {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.search-icon a {
  color: #ffffff;
}
.search-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  z-index: 50;
  -webkit-transition: all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
  -moz-transition: all 600ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
  -ms-transition: all 600ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
  -o-transition: all 600ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
  transition: all 600ms cubic-bezier(0.450, 1.000, 0.320, 1.000);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.search-box.open {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.search-close {
  flex: 1;
  z-index: 21;
  cursor: crosshair;
}
.search-box-content {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 53;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.region-search-box {
  width: 80%;
}
.search-box-content .block-title {
  color: #ffffff;
}
.search-box-content form label {
  display: none;
}
.search-box-content input[type="search"] {
  background: url('../images/search.png') top right no-repeat;
  width: 100%;
  margin: 30px 0;
  padding: 0 30px 10px 0;
  font-size: 1.4rem;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #ffffff;
  outline: 0;
}
.search-box-content input[type="submit"] {
  background: var(--color-primary);
  color: #ffffff;
  padding: 10px 20px;
}
.search-box-content input[type="submit"]:hover {
  background: #000;
}
.search-box-close {
  flex: 1;
  cursor: url("../images/cursor.svg"), auto;
}

/* Header -> Page header. */
#page_header {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  z-index: 3;
}
.region-page-header {
  display: flex;
  flex-direction: column;
}
/* Header -> Page header -> Breadcrumb. */
.breadcrumb {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: 'Heebo', sans-serif;
}
.breadcrumb,
.breadcrumb a,
.breadcrumb i,
.breadcrumb li {
  color: var(--color-secondary);
}
.breadcrumb a:hover {
  color: #ffffff;
}
.breadcrumb-items {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.breadcrumb-item {
  display: flex;
  align-items: center;
  padding: 0;
  line-height: 1;
}
.breadcrumb-item-seperator {
  margin: 0 10px;
  font-size: 12px;
}
/* Header -> Page Header -> Page title. */
.page-header .page-title {
  color: #ffffff;
}