@media only screen and (max-width: 767px) {
  /* Body */
  body {
    -webkit-text-size-adjust: none; /* none for no scaling */
  }
  /* typography */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  input[type="text"],
  input[type="password"],
  input[type="search"] {
    width: 100%;
  }
  /* Layout */
  .no-sidebar .main-container,
  .sidebar-left .main-container,
  .sidebar-right .main-container,
  .two-sidebar .main-container {
    grid-template-columns: 100%;
  }
  #sidebar-left {
    order: 3;
    padding: 0;
  }
  #sidebar-right {
    order: 4;
    padding: 0;
  }
  /* Header */
  .homepage .header,
  .site-page .header {
    padding: 10px 0;
  }
  .header-main {
    padding: 0;
  }
  .site-logo img {
    max-height: 44px;
  }
  /* Slider */
  .slider-img,
  .slider-img img {
    height: 100%;
    width: 100%;
  }
  .slider-img img {
    display: block;
    object-fit: cover;
  }
  .slider h1,
  .slider h2 {
  	margin: 0;
    font-size: 1.2em;
  }
  .slider h3 {
  	margin: 0;
    font-size: 1em;
  }
  .slider p {
    margin: 10px 0;
    width: 100%;
  }
  .slider a.button {
    padding: 4px 10px;
  }

  /* Inner page header */
  #page_header {
    padding: 14px 0;
  }
  .breadcrumb {
    padding: 4px 0;
  }
  .breadcrumb-item-seperator {
    margin: 0 6px;
  }
  /* Drupal core */
  .align-left,
  .align-right {
    float: none;
    clear: both;
    margin: 1rem auto;
  }
  /* Slider */
  .home-slider p {
    width: 100%;
  }
  /* Main - Primary tabs */
  .page-tabs {
    font-size: 14px;
  }
  ul.page-tabs li a {
    padding: 4px;
  }
  /* comment */
  .comment-user-picture {
    padding: 0 3px;
    flex: 0 0 50px;
  }
  .comment-user-picture img {
    max-width: 50px;
  }
  .single-comment-content-body {
    padding: 0 5px;
  }
  #node-comment .indented {
    margin-left: 20px;
  }
  /* Elements */
  .banner .banner-message {
    padding: 0 10px;
  }
  .call-to-action {
    padding: 10px;
  }
  .call-to-action .one-half, .call-to-action .one-three, .call-to-action .two-three, .call-to-action .one-four {
    display: block;
    text-align: center;
  }
  .owl-item.center .item {
    margin: 0 auto;
  }
  .popup-content {
    width: 100%;
  }
  ul.tabs li a {
    padding: 6px 8px;
  }
  .copyright {
    text-align: center;
  }
}
/* iPad pro, Tablets
------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Slider */
  .slider-img,
  .slider-img img {
    height: 100%;
    width: 100%;
  }
  .slider-img img {
    display: block;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* Header main menu */
  .primary-menu-wrapper {
    position: relative;
    background-color: transparent;
    padding: 0;
    transform: translateX(0);
    z-index: 10;
  }
  .menu-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0;
    transform: none;
    z-index: 10;
  }
  .region-primary-menu .menu {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0;
  }
  .region-primary-menu .menu-item-level-1 {
    border: 0;
  }
  .region-primary-menu .menu-item-level-1:hover {
    background-color: var(--bold-color);
  }
  .region-primary-menu .menu-item-level-1 a,
  .region-primary-menu .menu-item-level-1 > span {
    display: block;
    color: #ffffff;
    padding: 0.5rem;
  }
  .region-primary-menu .menu-item-level-1 a:hover,
  .region-primary-menu .menu-item-level-1 > span:hover {
    background-color: var(--bold-color);
  }
  .menu-item-has-children {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-item-has-children::after {
    position: relative;
    top: 0;
    color: var(--color-secondary);
  }
  .region-primary-menu .submenu {
    position: absolute;
    background-color: var(--bold-color);
    top: 100%;
    min-width: 200px;
    max-width: 300px;
    padding: 0 0.5rem;
    border-radius: 0 0 8px 8px;
    opacity: 0;
    visibility: hidden;
  }
  .region-primary-menu .submenu li {
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid var(--text-color);
  }
  .region-primary-menu .submenu li:first-child {
    border-top: none;
  }
  .region-primary-menu .submenu a,
  .region-primary-menu .submenu li > span {
    color: #ffffff;
    padding: 0.5rem 0;
    width: calc(100% - 1rem);
  }
  .menu-item-has-children:hover > .submenu {
    visibility: visible;
    animation: slideUp 0.5s forwards;
  }
  .region-primary-menu .submenu a:hover {
    color: var(--color-secondary);
  }
  /* third level menu */
  .region-primary-menu .submenu .submenu {
    left: 100%;
    top: 0;
  }
  .mobile-menu,
  .close-mobile-menu {
    display: none;
  }
  .view-in-mobile {
    display: none;
  }
  .view-in-desktop {
    display: block;
  }
  /* shortcodes -> content width */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
  /* shortcodes -> responsive column */
  .columns .w10 {
    flex-basis: calc(10% - 0.5rem);
  }
  .columns .w20 {
    flex-basis: calc(20% - 0.5rem);
  }
  .columns .w30 {
    flex-basis: calc(30% - 0.5rem);
  }
  .columns .w40 {
    flex-basis: calc(40% - 0.5rem);
  }
  .columns .w50 {
    flex-basis: calc(50% - 0.5rem);
  }
  .columns .w60 {
    flex-basis: calc(60% - 0.5rem);
  }
  .columns .w70 {
    flex-basis: calc(70% - 0.5rem);
  }
  .columns .w80 {
    flex-basis: calc(80% - 0.5rem);
  }
  .columns .w90 {
    flex-basis: calc(90% - 0.5rem);
  }
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

