form.views-send-preview label {
  float: left;
  clear: both;
  padding: 2px;
}

form.views-send-preview .views-send-preview-value {
  overflow: auto;
  margin-left: 100px;
  padding: 2px;
  border: 1px solid #bbb;
}

#views-send-preview-to {
  height: 50px;
}

#views-send-preview-message {
  height: 150px;
  white-space: pre;
}

#views-send-preview-headers,
#views-send-preview-attachments {
  height: 80px;
  font-family: monospace;
}
